<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    block head
  body
    include partials/_loading.pug

    main
      block content

    script(src="/js/bootstrap.min.js")
    script(src="/js/index.js")
    block scripts